* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.title {
  font-size: 78px;
  font-weight: 400px;
  line-height: 78px;
  margin: 0px;  
  text-align: center;
  margin-bottom: 30px;
}
body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
}


.card {  height: auto;
  padding: 25px;
  background-color: #f7f7fa;}

.container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  gap: 40px;
}


.product__image{
  display: block;
}
.container__card {
width: 340px;
}
.container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  gap: 40px;
}



.product__compound {
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 25px;
}

.compound {
  list-style-position: inside;

}

.product__header
{background-color: #f7f7fa;}

.header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product__price {
  display: flex;

}
.price {
  justify-content: space-between;
}