* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding: 1100px;
}

.product-list {
  height: auto;
  width: 340px;
  padding: 25px;
  background-color: #f7f7fa;
}
.product-compound {
  padding-left: 0px;
  margin-left: 0px;
  list-style-position: inside;
  margin-bottom: 25px;
}
.product-header {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-price {
  display: flex;
  justify-content: space-between;
}
